form{
    padding: 10px;
}

form label{
    width: 20%;
    font-weight: 500;
}

form input{
    padding: 5px ;
    width: 70%;
}

form input:focus{
    outline-color:#0d6efd ;
}

.helptext{
    font-size: 9px !important; 
    color : #fd7e14;
}

#btn{
    width: 100%;
}
