{% extends 'base.html' %}
{% load static %}

{% block 'title' %}
Alteração de senha
{% endblock %}

{% block 'head' %}
<link rel="stylesheet" type="text/css" href="{% static 'css/passwordChange.css' %}">
{% endblock %}

{% block 'content' %}
<header>
    <div
    class="d-flex flex-column justify-content-center
    align-items-center bg-secondary">
        <h1>CRM</h1>
        <h2>Alteração de senha</h2>
    </div>
</header>
<div class="d-flex flex-column justify-content-center
align-items-center m-3">
<h1>Altere sua senha</h1>
    <form method="post">
        {{ form.as_p }}
        <input class="d-grid btn btn-primary" id="btn" type="submit" value="Change">
        {% csrf_token %}
    </form>
</div>
{% endblock %}