{% extends 'base.html' %}
{% load static %}


{% block 'title' %}
{% endblock %}

{% block 'head' %}
{% endblock %}

{% block 'content' %}
<header>
  <div 
  class="d-flex flex-column justify-content-center
  align-items-center bg-secondary">
      <h1>CRM</h1>
      <h2>Deletar produto</h2>
  </div>
</header>
<main>
  <div
  class="card content-fluid d-flex flex-column justify-content-center
  align-items-center m-auto mt-2 p-4 gap-2"
  style="width: 60%;">
    <h2>Deseja, de fato, excluir o item
      <em class="text-danger">{{produto.nome}}</em> ?
    </h2>
    <form
    action="{% url 'deletar_produto' pk=produto.id %}" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button
      class="btn btn-outline bg-danger bg-opacity-50 btn-lg"
      type="submit"
      value="Deletar">Deletar</button>
      <a class="btn btn-outline-secondary btn-lg"
      href="{% url 'home' %}">Cancelar</a>
    </form>
  </div>
</main>
{% endblock %}