{% extends 'base.html' %}
{% load static %}

{% block 'title' %}
CRM 
{% endblock %}

{% block 'head' %}
{% endblock %}

{% block 'content' %}
<header class="container-fluid">
    <div
    class="card d-flex justify-content-center
    align-items-center m-auto bg-primary-subtle">
        <h1>CRM</h1>
        <h2>Produtos Cadastrados</h2>
    </div>
    <div class="container-fluid d-flex justify-content-md-center mt-2">
        <div
        class="card d-flex justify-content-center
        p-1 bg-success bg-opacity-50 p-2">
            <h5>Saldo total: R$ {{ faturamento_total | floatformat:2 }}</h5>
        </div>
    </div>
</header>
<main
class="container-fluid my-2 table-responsive"
style="width:90% ;">
    <button class="my-2">
        <a class="icon-link btn" href="{% url 'novo_produto' %}">
            Adicionar novo produto
        </a>
    </button>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Produto</th>
                <th scope="col">Preço</th>
                <th scope="col">Estoque</th>
                <th scope="col">Editar informações</th>
                <th scope="col">Vender produto</th>
                <th scope="col">Receita gerada</th>
                <th scope="col">Deletar produto</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
            {% if produto.quantidade_estoque > 0 %}
            <tr>
                <td>{{ produto.nome }}</td>
                <td> R$ {{ produto.valor | floatformat:2 }}</td>
                <td>{{ produto.quantidade_estoque }} itens</td>
                <td>
                    <a
                    class="btn btn-outline-primary"
                    href="{% url 'atualizar_produto' produto.id %}">Editar</a>
                </td>
                <td>
                    Quantidade de Vendas: {{ produto.venda_set.count }}
                </td>
                <td>
                    Faturamento: R$ {{ produto.faturamento | floatformat:2 }}
                </td>
                <td>
                    <a
                    class="btn btn-outline-success"
                    href="{% url 'venda' produto.id %}">Vender</a>
                </td>
                <td>
                    SALDO DO PRODUTO
                </td>
                <td>
                    <a
                    class="btn btn-outline-warning"
                    href="{% url 'deletar_produto' produto.id %}">Deletar</a>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</main>

{% endblock %}