{% extends 'base.html' %}
{% load static %}

{% block 'title' %}
Novo Produto
{% endblock %}

{% block 'head' %}
{% endblock %}

{% block 'content' %}
<header>
    <div class="container-fluid card d-flex justify-content-center align-items-center m-auto bg-primary-subtle">
        <h1>CRM</h1>
        <h2>Cadastrar novo produto</h2>
    </div>
</header>
<main>
    <div
    class="content-fluid d-flex flex-column justify-content-center align-items-center m-auto mt-2"
    style="width:90% ;">
        <form class="content-fluid card p-4 gap-2"
        action="{% url 'novo_produto' %}"
        method="POST">
            {% csrf_token %}
                {{ form.as_p }}
            <button type="submit" value="Submit" class="btn btn-outline-secondary btn-sm">Cadastrar</button>
            <a href="{% url 'home' %}" class="btn btn-outline-danger btn-sm">Cancelar</a>
        </form>
    </div>
</main>
    
    


{% endblock %}
