{% extends 'base.html' %}
{% load static %}

{% block 'title' %}
{% endblock %}

{% block 'content' %}
<header>
    <div
    class="d-flex flex-column justify-content-center
    align-items-center bg-secondary">
        <h1>CRM</h1>
        <h2>Realizar venda</h2>
    </div>
  </header>
<main>
    <div
    class="card content-fluid d-flex flex-column justify-content-center
    align-items-center m-auto mt-2"
    style="width:90% ;">
        <form class="d-flex flex-column p-4 gap-2"
         method="POST" action="{% url 'venda' produto.id %}">
            {% csrf_token %}
            <h4>Quantidade de itens a serem vendidos:</h4>
            <label style="width: 300px;"
            for="quantidade"></label>
            <input type="number"
            name="quantidade"
            id="quantidade"
            min="1"
            max="{{ produto.quantidade_estoque }}">
            <button
            class="btn btn-outline- bg-success bg-opacity-50"
            type="submit"
            value="Submit">Vender</button>
            <a
            class="btn btn-outline-secondary btn-sm"
            href="{% url 'home' %}">Cancelar</a>
        </form>
    </div>
</main>
{% endblock %}